.clock {
  $size: 100%;
  $border-width: 7px;
  width: $size;
  height: $size;
  position: relative;
  @include circle();

  .clock__slice {
    &--left {
      @include left-circle();
      @include circle-border(left, $border-width, $border-color);
      position: absolute;
      top: 0;
      left: 0;
    }
    &--right {
      @include right-circle();
      @include circle-border(right, $border-width, $border-color);
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .clock__cover-slice {
    &--right {
      @include right-circle();
      width: 50.5%;
      height: 101%;
      position: absolute;
      top: -.5%;
      right: -.25%;
      background-color: $body-bg;
      transform-origin: 0 50%;
      transition: transform 1s linear;
    }
    &--left {
      @include left-circle();
      width: 50.5%;
      height: 101%;
      position: absolute;
      top: -.5%;
      left: -.25%;
      background-color: $body-bg;
      transform-origin: 100% 50%;
      transition: transform 1s linear;
    }
  }

  @media (max-width: 575.98px) {
    @include circle();
    .clock__slice {
      &--left {
        @include left-circle();
        @include circle-border(left, $border-width, $border-color);
      }
      &--right {
        @include right-circle();
        @include circle-border(right, $border-width, $border-color);
      }
    }
    .clock__cover-slice {
      &--right {
        @include right-circle();
        background-color: $body-bg;
      }
      &--left {
        @include left-circle();
        background-color: $body-bg;
      }
    }
  }
}
