@mixin circle($width) {
  width: $width;
  height: $width;
  border-radius: 50%;
}
@mixin left-circle($width) {
  width: $width / 2;
  height: $width;
  border-top-left-radius: 100% 50%;
  border-bottom-left-radius: 100% 50%;
}
@mixin right-circle($width) {
  width: $width / 2;
  height: $width;
  border-top-right-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;
}
@mixin circle-border($direction: false, $border-width: 7px, $color: gray) {
  border-color: $color;
  border-style: solid;
  border-top-width: $border-width;
  border-bottom-width: $border-width;
  @if $direction == left {
    border-left-width: $border-width;
    border-right-width: 0;
  } @else if $direction == right {
    border-right-width: $border-width;
    border-left-width: 0;
  } @else {
    border-left-width: $border-width;
    border-right-width: $border-width;
  }
}
@mixin scrollbar {
  $border-radius: 3.5px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 7px;
    border-radius: $border-radius;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $border-radius;
    background-color: rgb(197, 197, 197);
  }
  &::-webkit-scrollbar-track {
    border-radius: $border-radius;
    background-color: rgb(240, 240, 240);
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}