$bar-width: 60px;
.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: $bar-width;
  z-index: $zindex-fixed;

  @media (max-width: 767.98px) {
    top: auto;
    bottom: 0;
    width: 100%;
    height: $bar-width;
    flex-direction: row;
  }
}

.side-container {
  padding-right: $bar-width;
  @include scrollbar;
  @media (max-width: 767.98px) {
    padding-bottom: $bar-width;
    padding-right: 0;
  }
}
